/* All classes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("sky.jpg");
  background-size: cover;
  background-position: top center;
}

.app__wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.4));
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 15px 15px;
}

input {
  width: 100%;
  max-width: 280px;
  padding: 10px 15px;
  border: none;
  outline: 0;
  background-color: rgba(255, 255, 255, 0.801);
  border-radius: 5px;
  border-top: 3px solid red;

  color: #1d4dd1;
  font-size: 20px;
  font-weight: 300;
  transition: .2s ease-out;

}
input:focus {
  background-color: rgba(255, 255, 255, 0.691);
}

main {
  flex: 1 1 100%;
  padding: 0 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  align-content: center;
  color: white;
}
.location{
  width: 100%;
}
.location .city {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 5px;
}
.location .date {
  font-size: 16px;
}
.current {
  width: 100%;
}
.current .temp {
  font-size: 70px;
  font-weight: 900;
  margin: 30px 0px;
  text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
}
.current .temp span {
  font-weight: 500;
}
.current .weather {
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 15px;
  text-shadow: 0 3px rgba(0,0,0,0.4);
}

.current .hi-low {
  font-size: 24px;
  font-weight: 500;
  text-shadow: 0px 4px rgba(0,0,0,0.4);
}